################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ta12/ta12.sln
/ta12/ta12/ta12.vcxproj.filters
/ta12/ta12/ta12.vcxproj
/.vs
/ta12/.vs/ta12/v15
